.header{
    background: white;
    width: 100%;
    box-shadow: 0px 1px 70px 1px #00000040;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header > .container{
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 42px;
}

.menu {
    padding: 10px;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.menu__link {
    font-family: "Source Sans 3", serif;
    font-size: 18px;
    font-weight: 700;
    color: #6E375B;
    text-decoration: none;
    margin: 0 20px;
}
.menu__link:hover {
    color: #AF478A;
    transform: scale(1.2);
}

.header__login {
    padding: 10px 30px;
    font-family: "Source Sans 3", serif;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.4s ease;
    background: #AF478A;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__login:hover{
    background: #934476;
}

.title{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #6C385E;
    margin-bottom: 40px;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}