@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora";
    font-size: 12;
    background-color: #F8F9FA;
    position: relative;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.header{
    background: white;
    width: 100%;
    box-shadow: 0px 1px 70px 1px #00000040;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header > .container{
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 42px;
}

.menu {
    padding: 10px;
}

.menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.menu__link {
    font-family: "Source Sans 3", serif;
    font-size: 18px;
    font-weight: 700;
    color: #6E375B;
    text-decoration: none;
    margin: 0 20px;
}
.menu__link:hover {
    color: #AF478A;
    transform: scale(1.2);
}

.header__login {
    padding: 10px 30px;
    font-family: "Source Sans 3", serif;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.4s ease;
    background: #AF478A;
    border: none;
    text-decoration: none;
}
.header__login:hover{
    background: #934476;
}

.title{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #6C385E;
    margin-bottom: 40px;
}


.hero {
    width: 100%;
    min-height: 100vh;
}
.hero__swiper {
    width: 100%;
    min-height: 100vh;
}
.hero__wrapper {
    width: 100%;
    min-height: 100vh;
}
.hero__slide {
    width: 100%;
    min-height: 100vh;
    padding: 70px;
    display: flex;
    align-items: flex-end;
}
@media (max-width: 1300px) {
    .hero__slide {
        padding: calc(15px + 55 * (100vw - 320px) / 980);
    }
}
.hero__slide .info-block {
    margin-bottom: 70px;
}
.hero__slide.hero__slide1 {
    background: url(../img/swiper/01.jpg) no-repeat;
    background-size: cover;
}
.hero__slide.hero__slide2 {
    background: url(../img/swiper/02.jpg) no-repeat;
    background-size: cover;
}
.hero__slide.hero__slide3 {
    background: url(../img/swiper/03.jpg) no-repeat;
    background-size: cover;
}
.hero__pagination {
    display: flex;
    bottom: 7% !important;
    left: 7% !important;
}
.hero__pagination .swiper-pagination-bullet {
    display: inline-block;
    margin: 5px !important;
    width: 8px;
    height: 8px;
    background-color: #fff;
}
@media (any-hover: hover) {
    .hero .info-block__title:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.info-block {
    max-width: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    opacity: 0.8;
}
.info-block * {
    text-align: center;
}
.info-block--left {
    align-items: flex-start;
}
.info-block--left * {
    text-align: left;
}
.info-block__category {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}
.info-block__title {
    font-weight: 700;
    font-size: 36px;
}
@media (max-width: 1300px) {
    .info-block__title {
        font-size: calc(24px + 12 * (100vw - 320px) / 980);
    }
}
.info-block__main {
    line-height: 1.67;
}
.info-block__main--grid {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: auto;
}
@media (min-width: 480px) {
    .info-block__main--grid {
        grid-template-columns: minmax(60px, auto) 30px 1fr;
    }
}
.info-block__line {
    position: relative;
    top: 10px;
    width: 30px;
    height: 0;
    border: 1px solid #000;
}
@media (max-width: 480px) {
    .info-block__line {
        display: none;
    }
}



.discount{
    width: 100%;
    padding-top: 112px;
    margin-bottom: 32px;
}
.discount__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 48px;
    padding: 48px 0;
    background: linear-gradient(136deg, #6C385E 0%, #AF478A 100%);
}
.discount__image{
    width: 150px;
}
.discount__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
}
.discount__button{
    padding: 16px 28px;
    background: #fff;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.discount__button:hover {
    background: #999;
}
.discount__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
}

@media (max-width: 500px) {
    .discount {
        padding-top: 50px;
        margin-bottom: 0;
    }
    .discount__body {
        padding: 25px 10px;
        flex-direction: column;
    }
    .discount__content {
        padding-right: 0;
    }
}



.apartments {
    padding-top: 80px;
}

.apartments__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apartments__toggleButton {
    margin: 10px auto;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: #6E375B;
    border: none;
    background: transparent;
    padding: 10px 20px;
    cursor: pointer;
}

.button-hide {
    display: none;
}
  
.apartments__toggleButton:hover {
    transition: 0.4s;
    color: #AF478A;
}

.apartments__body, .bookings__body {
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bookings__body .card{
    padding-bottom: 10px;
}


.card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 32%;
}

.card__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.card p{
    text-align: left;
    margin: 15px;
    font-size: 16px;
}
.card h3{
    margin: 10px 10px 20px;
    text-align: left;
    font-size: 22px;
}
.card h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card__btn {
    width: calc(100% - 30px);
    margin: 15px;
    padding: 15px;
    background-color: #AF478A;
    border-radius: 5px;
    font-family: "Source Sans 3", serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.card__btn-offer:hover {
    background: #934476;
    cursor: pointer;
}
.card__btn-expired{
    background: grey;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}



.bookings {
    padding-top: 80px;
}


.contacts {
    padding-top: 80px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form__label {
    font-size: 20px;
}

.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form__button {
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.3s;
}

.contact-form__button:hover {
    background-color: #555;
}



.footer {
    background: #333;
    color: white;
    margin-top: 20px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-left, .footer-right {
    padding: 10px;
}

.ours {
    margin: 10px 0;
    font-size: 1.5em;
}

.footer p {
    margin: 5px 0;
    font-size: 1em;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ccc;
}

.socials {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.social-link {
    display: flex;
    align-items: center;
    margin: 0 10px;
    transition: transform 0.3s ease;
    color: white;
    text-decoration: none;
}

.social-link img {
    height: 30px;
    filter: brightness(0) invert(1);
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    transition: .3s;

}

.social-link img:hover {
    transform: scale(1.2);
}

.social-link p{
    transition: .3s;
}

.social-link p:hover {
    color: grey;
}

.copy {
    width: 100%;
    text-align: center;
    border-top: 2px solid grey;
    padding-top: 10px;
    margin-top: 30px;
    font-size: 0.9em;
    color: #ccc;
}




@media (max-width: 900px){
    .social-link img {
        height: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .header {
        position: relative;
    }
    .menu__list {
        flex-direction: column;
        align-items: center;
    }
    .apartment-grid {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 49%;
    }
}

@media (max-width: 580px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer-left h3 {
        margin-top: 15px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .header > .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}